<!DOCTYPE html>
<html lang="en">
    <head>
       <style>
        </style>
        <body>
            <button class="enableEthereumButton">Enable Ethereum</button> 

            <form action="/create_bet.html" method="post">
                <label f or = "Bet">CREATE BET</label>

                <label for="category">Choose a category:</label>
                <select id="categories" name="categories">
                    <option value="Politics">Politics</option>
                    <option value="Sports">Sports</option>
                </select>

                <input type="text", name = "Title", method = "post">
                <input type="text", name = "Description", method = "post">


                <input type="submit" value="Submit">


            </form>

        <p style = 'text-align:center;'> {{ address }}</p>

        <script>
        // script for starting metamask
        const ethereumButton = document.querySelector(".enableEthereumButton");
        
        ethereumButton.addEventListener("click", () => {
        //Will Start the metamask extension
        ethereum.enable();
        }); 
        </script>
        </body>
    </head> 
</html>        