<!DOCTYPE html>
<html lang="en">

<head>
    <style>
    </style>

<body>
    <script>
        if (typeof window.ethereum !== 'undefined') { window.alert("Metamask not supported, please install metamask!"); }
    </script>

    Listing bets here with some javascript

    <p style='text-align:center;'> block nr {{ blockNR }}</p>
    <p style='text-align:center;'> mined by {{ minerNR }}</p>



    <input type="submit" name="Create Bet" value="create_bet">

    <div>

    </div>
</body>
</head>

</html>